---
import { schema_web_page } from "@/schema_org/index";
import MainLayout from "@/layouts/MainLayout.astro";
import CommunityIconBlock from "@/components/ui/blocks/CommunityIconBlock.astro";
import Icon from "@/components/ui/icons/Icon.astro";
import { COMMUNITY } from "@/data/constants";
import Cover from "@/components/sections/landing/Cover.astro"
const title: string = "Community";
const subTitle: string = "Join the AerynOS community and help us redefine the future of linux.";


---

<MainLayout
  title={title}
  structuredData={schema_web_page({
    path: "/community",
    name: title,
    description: subTitle,
  })}
>

  <Cover title={title}>
    {subTitle}
  </Cover>
  
  <section class="mx-auto max-w-[85rem] px-4 sm:px-6 lg:px-8 pb-16">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">

      <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
        <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
        <div class="divide-y divide-neutral-300 dark:divide-neutral-700">

          {COMMUNITY.map(community=>(
            <CommunityIconBlock
              heading={community.title}
              content={community.description}
              linkURL={community.url}
              ><Icon size="60" className="text-neutral-700 dark:text-neutral-400" name={community.icon} />
            </CommunityIconBlock>
          ))}

        </div>
      </div>
    </div>
  </section>

</MainLayout>
